html {
    overflow-y: scroll;
}

#wrapper {
    background: #EAEAEA;
    min-height: 100%;
    margin-bottom: -86px;
    position:relative;
}

hr {
    background: #333333;
    height: 1px;
}

.tabs .tab-title > a {
    background: #EAEAEA;
}

.tabs .tab-title.active > a {
    background: #D8DBE2;
}

.clearfooter {
    height: 86px;
    clear: both;
}

#footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 86px;
    position: relative;
}

.lore-date {
    color: #8000ff;
}
