html {
    overflow-y: scroll;
}

body, .button {
    font-family: 'Open Sans', arial, helvetica, sans-serif;
}
body {
    background: url("../img/pattern_background.png") repeat fixed;
    font-size: 14px;
    color: #E8EEF2;
}
.row, .contain-to-grid.sticky .top-bar {
    max-width: 1170px;
}

.top-bar, .top-bar-section ul li,
.top-bar-section .has-form,
.top-bar-section ul li:hover:not(.has-form) > a,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section .dropdown,
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button),
.contain-to-grid.sticky {
    background: #43AC6A;
}
.top-bar-section li:not(.has-form) a:hover:not(.button),
.top-bar-section .dropdown li:hover:not(.has-form):not(.active) > a:not(.button) {
    background: #43B977;
}
.top-bar-section > ul > .divider {
    border-right-color: #E8EEF2
}
.top-bar-section .button, .top-bar-section .button:focus {
    background: #333333;
}
.top-bar-section .button:hover {
    background: #222222;
}

.content-main {
    background: #333333;
}
.content-inner {
    background: url("../img/pattern_content.jpg") repeat fixed;
}
.content-inner > ul {
    font-size: 14px;
}
.content-inner > ul li {
    font-size: 14px;
}

/* Sticky footer */
#wrapper {
    min-height: 100%;
    margin-bottom: -93px;
    position:relative;
}
.clearfooter {
    height: 93px;
    clear: both;
}
#footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 93px;
    position: relative;
}

/* hr and hr with text */
hr {
    color: #E8EEF2;
    height: 1px;
}
.strike {
    color: #E8EEF2;
    overflow: hidden;
    text-align: center;
}
.strike:before,
.strike:after {
    background-color: #E8EEF2;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.strike:before {
    right: 0.5em;
    margin-left: -50%;
}
.strike:after {
    left: 0.5em;
    margin-right: -50%;
}

/* Tab content */
.tabs .tab-title > a {
    background: #333333;
    color: #E8EEF2;
}
.tabs .tab-title > a:hover {
    color: #222222;
}
.tabs .tab-title.active > a {
    background: #CECCCC;
}
.tabs-content .content.active {
    padding-bottom: 0;
    padding-top: 0;
}

/* Button focus colors */
button:focus, .button:focus {
    background-color: #008CBA;
}
button:hover, .button:hover {
    background-color: #007095
}

/* Lore page date colors */
.lore-date {
    color: #008CBA;
}
